@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";



@layer utilities{
    .inter{
        font-family: "Inter", sans-serif;
    }
}
@keyframes mic-bg {
  0%, 100% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(255, 0, 255, 0.4);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 40px rgba(255, 0, 255, 0.6);
  }
}

.mic-bg-animate {
  animation: mic-bg 2.5s ease-in-out infinite;
  will-change: transform;
}
.sf{
  color:#3e0090
}